<div class="row mx-2">
  <div class="col-12">
    <h1>{{nama}} ({{nim}})</h1>
  </div>
  <div class="col-12">
    <button class="btn btn-success m-1">
      <i class="fa fa-whatsapp"></i>
      Kirim
    </button>
    <button class="btn btn-primary m-1">
      <i class="fa fa-plus"></i>
      Record Baru
    </button>
    <button class="btn btn-danger m-1">
      <i class="fa fa-trash"></i>
      Hapus Record
    </button>
    <button class="btn btn-warning m-1">
      <i class="fa fa-edit"></i>
      Ubah Record
    </button>
    <button class="btn btn-info mx-1">
      <i class="fa fa-search"></i>
      Pencarian
    </button>
    <button class="btn btn-default mx-1">
      <i class="fa fa-times"></i>
      Batal
    </button>
  </div>
</div>